* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.gamebox {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 610px;
  height: 610px;
}
.best {
  margin: auto;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin-bottom: 5px;
  background-color: #ffd700;
  border-radius: 16px;
}

.best p {
  font-size: larger;
  font-weight: 600;
}
button {
  cursor: pointer;
  width: 280px;
  height: 280px;
  border: none;
}
.start {
  color: whitesmoke;
  font-size: 32px;
  border-radius: 50%;
  position: absolute;
  background-color: #252525;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.red {
  background-color: crimson;
  color: crimson;
}
.blue {
  background-color: rgb(49, 49, 244);
  color: rgb(49, 49, 244);
}
.green {
  background-color: rgb(12, 228, 12);
  color: rgb(12, 228, 12);
}
.yellow {
  color: yellow;
  background-color: yellow;
}
.btn {
  transition:
    filter 0.1s,
    transform 0.1s;
}

.btn:active {
  filter: brightness(70%);
  transform: scale(0.97);
}
.active {
  box-shadow: 0 0 100px currentColor; /* lub inny kolor wyróżniający */
}
.level {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  background-color: rgb(79, 73, 73);
  color: #fff;
  opacity: 0.4;
  border-radius: 24px;
  transition: opacity 0.5s ease-in;
}
.level:hover {
  opacity: 1;
}
.rest_btn:hover {
  opacity: 1;
}

.rest_btn {
  color: #fff;
  opacity: 0.4;
  border-radius: 24px;
  transition: opacity 0.2s ease-in;
  background-color: rgb(79, 73, 73);
  height: 28px;
  width: 10%;
}
.info {
  padding: 8px;
  font-size: 24px;
  width: 90%;
  background-color: transparent;
  color: white;
  text-align: center;
}
.message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  background-color: #252525;
  color: white;
  border: 2px solid #ffd700;
  border-radius: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  z-index: 100;
  animation: message 0.5s ease-in-out;
}
@keyframes message {
  from {
    opacity: 0;
    transform: translate(-50%, -30px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@media only screen and (max-width: 768px) {
  .gamebox {
    width: 520px;
    height: 520px;
  }
  .best {
    margin-bottom: 20px;
  }
  button {
    width: 250px;
    height: 250px;
  }
  .info {
    margin-top: 8px;
  }
}
@media only screen and (max-width: 520px) {
  .gamebox {
    width: 320px;
    height: 320px;
  }

  button {
    width: 150px;
    height: 150px;
  }

  .message {
    width: 90%;
    font-size: 20px;
  }
  .info {
    margin-top: 8px;
  }
}
